meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")
meta(name="author", content= theme.author)

block site_title
    - var PageName = page.title + " · " + config.title
    title !{PageName}
    meta(property="og:title", content=page.title)

block description
    meta(name="description", content=config.description ? config.description : '')

if page.keywords
    meta(name="keywords", content= page.keywords)
else
    meta(name="keywords" content= theme.keywords)

meta(content="yes",name="apple-mobile-web-app-capable")
meta(content="black",name="apple-mobile-web-app-status-bar-style")
meta(content="telephone=no",name="format-detection")
meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

block meta
    
link(rel="sitemap", type="application/xml", title="Sitemap", href="/sitemap.xml")


meta(name="renderer",content="webkit")
link(rel="short icon", href="/images/favicon.png",type="image/x-icon")
link(rel="stylesheet", async href='/css/style.css')
link(rel="stylesheet", async href='/css/blog_basic.css')

<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="48bf39a4-08a0-4585-a79a-a7fcf19d21c3";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
