doctype
html(lang="fr-FR")
  head
    include head

  body(onload="moonSunMode(true)")
    include sidebar
    main
      include nav
      block content

  script(async, src="/js/moonSunMode.js")
  script(async, src="/js/heap.js")
  script(async, src="/js/hotjar.js")
  script(async, src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js", crossorigin="anonymous", onload='twemoji.parse(document.body)')
