nav
  a(href="/", class=is_home() ? 'current' : '')= __('Home')	
  //- a(href="/a-propos", class=is_current('a-propos') ? 'current' : '')= __('About')
  a(href="/archives", class=is_archive() ? 'current' : '')= __('Archive')
  a(href="/liens-utiles", class=is_current('liens-utiles') ? 'current' : '')= __('Links')
