aside
  header
    button(id="moonSunMode", onclick="moonSunMode()")
  .logo-title
    .title
      a.avaLink(href="/")
        img(src=url_for('images/logo.jpg'), alt="Avatar de Nathan Rocher")
        h3(title="Nathan Rocher") Nathan R.
      p 💼 Étudiant à Nantes
      p 📷 Photographie

  footer
    p Suivez moi sur mes réseaux :
    .social-links
      a(title="LinkedIn", target="_blank", href="https://linkedin.com/in/" + theme.linkedin)
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><g transform="translate(5528 259)"><path d="M11.192,50.009H.826V16.627H11.192ZM6,12.074a6.032,6.032,0,1,1,6-6.06A6.054,6.054,0,0,1,6,12.074ZM49.989,50.009H39.645V33.759c0-3.873-.078-8.839-5.39-8.839-5.39,0-6.215,4.208-6.215,8.56V50.009H17.685V16.627h9.942v4.554h.145A10.892,10.892,0,0,1,37.58,15.79C48.071,15.79,50,22.7,50,31.672V50.009Z" transform="translate(-5528 -259.01)"/></g></svg>
      a(title="Gitlab", target="_blank", href="https://gitlab.com/" + theme.gitlab)
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><g transform="translate(5371 262)"><path d="M10.233,18.877a.979.979,0,0,0-1.846,0L2.87,35.946H15.76c-.01,0-5.527-17.069-5.527-17.069ZM.048,44.539a1.948,1.948,0,0,0,.693,2.148L24.948,64.654,2.86,35.946Zm15.7-8.593,9.208,28.708,9.208-28.708Zm34.118,8.593-2.812-8.593-22.1,28.708L49.165,46.687A1.953,1.953,0,0,0,49.868,44.539ZM41.529,18.877a.979.979,0,0,0-1.846,0L34.156,35.946H47.046Z" transform="translate(-5370.956 -278.225)"/></g></svg>
      a(title="Github", target="_blank", href="https://github.com/" + theme.github)
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>