
:root {
  --block-color: #f8f8f8;
  --block-text-color: #525252;
  --code-color: #f7f7f9;
  --code-border-color: #E3EDF3;
  --code-text-color: #d14;
}

[data-theme="dark"] {
  --block-color: #222;
  --block-text-color: #ddd;
  --code-color: #222;
  --code-border-color: rgb(43, 43, 43);
  --code-text-color: #34a734;
}

pre {
  font-size: 0.8em !important;
  border-radius: 5px;
  background-color: var(--block-color) !important;
  font-family: 'Roboto Mono', 'Lucida Console', 'Trebuchet MS', 'Courier New', Monaco, courier, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Jhenghei', 'Microsoft YaHei', monospace !important
}

figure.highlight {
  position: relative !important;
  margin: 1em 0 !important;
  border-radius: 2px !important;
  line-height: 1.1em !important;
  background-color: var(--block-color) !important;
  overflow-x: auto !important
}

figure.highlight table,
figure.highlight tr,
figure.highlight td {
  width: 100% !important;
  border-collapse: collapse !important;
  padding: 0 !important;
  margin: 0 !important
}

figure.highlight .gutter {
  display: none !important
}

figure.highlight .code pre {
  padding: 1.2em 1.4em !important;
  line-height: 1.5em !important;
  margin: 0 !important
}

figure.highlight.html .code:after,
figure.highlight.js .code:after,
figure.highlight.bash .code:after,
figure.highlight.css .code:after,
figure.highlight.scss .code:after,
figure.highlight.diff .code:after,
figure.highlight.java .code:after,
figure.highlight.xml .code:after,
figure.highlight.python .code:after,
figure.highlight.json .code:after,
figure.highlight.swift .code:after,
figure.highlight.ruby .code:after,
figure.highlight.perl .code:after,
figure.highlight.php .code:after,
figure.highlight.c .code:after,
figure.highlight.cpp .code:after {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  color: #ccc !important;
  text-align: right !important;
  font-size: 0.75em !important;
  padding: 5px 10px 0 !important;
  line-height: 15px !important;
  height: 15px !important;
  font-weight: 600 !important
}

figure.highlight.html .code:after {
  content: "HTML"
}

figure.highlight.js .code:after {
  content: "JS"
}

figure.highlight.bash .code:after {
  content: "BASH"
}

figure.highlight.css .code:after {
  content: "CSS"
}

figure.highlight.scss .code:after {
  content: "SCSS"
}

figure.highlight.diff .code:after {
  content: "DIFF"
}

figure.highlight.java .code:after {
  content: "JAVA"
}

figure.highlight.xml .code:after {
  content: "XML"
}

figure.highlight.python .code:after {
  content: "PYTHON"
}

figure.highlight.json .code:after {
  content: "JSON"
}

figure.highlight.swift .code:after {
  content: "SWIFT"
}

figure.highlight.ruby .code:after {
  content: "RUBY"
}

figure.highlight.perl .code:after {
  content: "PERL"
}

figure.highlight.php .code:after {
  content: "PHP"
}

figure.highlight.c .code:after {
  content: "C"
}

figure.highlight.java .code:after {
  content: "JAVA"
}

figure.highlight.cpp .code:after {
  content: "CPP"
}

figure.highlight.cpp .code:after {
  content: 'C++'
}

pre {
  color: var(--block-text-color) !important
}

pre .function .keyword,
pre .constant {
  color: #0092db !important
}

pre .keyword,
pre .attribute {
  color: #e96900 !important
}

pre .number,
pre .literal {
  color: #ae81ff !important
}

pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: #2973b7 !important
}

pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
  color: #42b983 !important
}

pre .title {
  color: #83B917 !important
}

pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #42b983 !important
}

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #b3b3b3 !important
}

pre .deletion {
  color: #BA4545 !important
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5 !important
}

html {
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.6em;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin: 2rem 0 0;
}

h1 {
  font-size: 2.1rem;
  line-height: 1.2em;
}

h2 {
  font-size: 1.9rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
  margin: 1.75rem 0 .5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.3rem;
}

iframe,
video,
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

video{
  max-width: 500px;
}

p,
ul,
ol,
dl {
  margin: 1em 0;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin: 0.4em 0;
}

ul p,
ol p,
li p,
.content li p,
blockquote p,
.content blockquote p,
.post blockquote p,
.post li p {
  margin: 0;
  overflow: visible;
}



a img {
  border: none;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  box-sizing: border-box;
  margin: 1.6em 0 1.6em 0;
  padding: .5em 0 .5em 1.5em;
  border-left: #4a4a4a 1px solid;
}

blockquote p {
  margin: 0.8em 0;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote cite {
  font-weight: bold;
}

blockquote cite a {
  font-weight: normal;
}

mark {
  background-color: #ffc336;
}

details {
  margin-left: 1.5rem;
}

summary {
  margin-left: -1.5rem;
  margin-bottom: 1em;
  cursor: pointer;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
}

code,
tt {
  padding: 1px 3px;
  font-size: 0.85em;
  font-family: 'Source Sans Pro', sans-serif;
  white-space: pre-wrap;
  border: 1px solid var(--code-border-color);
  background:  var(--code-color);
  color: var(--code-text-color);
  border-radius: 2px;
}