/* @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --background-color: #fff;
  --border-color: #f2f2f2;
  --big-text-color: #5f5f5f;
  --regular-text-color: #747474;
  --small-text-color: #bbbbbb;
}

[data-theme="dark"] {
  --background-color: rgb(26, 26, 26);
  --border-color: rgb(59, 59, 59);
  --big-text-color: #ffffff;
  --regular-text-color: #dddddd;
  --small-text-color: #c0c0c0;
}

html {
  display: block;
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;

}

body {
  display: flex;
  color: var(--regular-text-color);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}



img.emoji {
  display: inline !important;
  vertical-align: middle !important;
  max-width: 20px !important;
  max-height: 20px !important;
  border-radius: 0 !important;
  margin: 0 5px !important;
  padding: 0 !important;
}





body ul li {
  font-size: 16px;
}

p {
  line-height: 1.9em;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  opacity: 1;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  -o-transition: color .15s linear;
  -ms-transition: color .15s linear;
  transition: color .15s linear;
  color: var(--regular-text-color);
}

a:hover,
a:active {
  color: #4786D6;
}

/*basic styles ends*/

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




/*
*
**
*** SIDEBAR
**
*
*/
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-width: 350px;
  width: 350px;
}

aside .logo-title {
  text-align: center;
  margin-top: -55%;
}

aside .logo-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--big-text-color);
  margin: 0;
  margin-top: 10px !important;
}

aside .logo-title p img.emoji {
  margin-right: 10px !important;
}

aside .logo-title .logo {
  margin: 0 auto;
}

aside .logo-title .title img {
  border-radius: 100%;
  margin-bottom: 10px;
  width: 150px;
}

aside .logo-title .avaLink h3 {
  margin: 0;
  font-size: 25px;
  margin-bottom: 10px;
}

aside .logo-title .avaLink {
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside .logo-title .title a {
  text-decoration: none;
  color: var(--big-text-color);
  font-size: 1.75rem;
  transition: color .15 !important;
}

aside .logo-title .title a:hover {
  color: #4786D6;
}

aside .social-links {
  display: flex;
  justify-content: center;
  line-height: 1;
}

aside .social-links a svg {
  width: 17.5px;
  margin: 0 10px;
}

aside .social-links a svg path {
  fill: var(--big-text-color);
  transition: fill .15s ease;
}

aside .social-links a:hover svg path {
  fill: #4786D6;
}

aside header,
aside footer {
  position: relative;
  margin: 20px 0;
  text-align: center;
}

aside header {
  min-height: 32px;
}

aside footer p {
  margin: 0;
}

aside header button {
  background: rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 100px;
  padding: 7.5px 15px;
  outline: none;
  cursor: pointer;
  transition: background .3s;
  font-family: 'Source Sans Pro', sans-serif;
}

aside header button:hover {
  background: rgba(0, 0, 0, 0.3);
}

aside header button:active {
  background: rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] aside header button {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
}

[data-theme="dark"] aside header button:hover {
  background: rgba(255, 255, 255, 0.3);
}

[data-theme="dark"] aside header button:active {
  background: rgba(255, 255, 255, 0.5);
}



/*
*
**
*** MAIN
**
*
*/
main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: calc(100vw - 350px);
}



/*
*
**
*** MENU DU HAUT
**
*
*/
main nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  list-style: none;
  font-size: 14px;
  padding-left: 15px;
  background: var(--background-color);
  z-index: 5;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

main nav a {
  display: block;
  color: var(--big-text-color);
  margin-right: 15px;
  padding: 15px;
  width: 60px;
  text-align: center;
}

main nav a:hover {
  color: #4786D6;
}

main nav a.current {
  color: var(--big-text-color);
  border-bottom: 1px solid var(--big-text-color);
}





/*
*
**
*** .content
**
*
*/
main .content {
  display: block;
  box-sizing: border-box;
  flex: 1;
  border-left: 1px solid var(--border-color);
  margin-top: 55px;
  overflow: auto;
}


.post {
  display: block;
  box-sizing: border-box;
  margin: 30px;
  max-width: 1250px;
}

.post .post-title h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 600;
  color: var(--big-text-color);
  font-size: 23px;
  margin: 0;
}

.post .post-title h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  color: var(--big-text-color);
}

.post .post-title h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 600;
  color: var(--big-text-color);
  font-size: 21px;
  margin: 0;
}

.post .post-title a {
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--big-text-color);
}

.post .post-title a:hover {
  text-decoration: underline;
}

.post-page .post .post-title a:hover {
  text-decoration: none !important;
}

.post .post-content a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #4786D6;
}

.post .post-content a:hover {
  color: rgb(34, 83, 146);
}

.post .post-content h3 {
  color: var(--big-text-color);
  font-size: 22px;
  font-weight: 600;
}

.post .post-content h4 {
  color: var(--big-text-color);
  font-size: 16px;
}

.post .post-content p {
  text-align: justify;
}

.content .post-page .page-banner {
  display: block;
  margin: 25px auto 0;
  height: 250px;
  height: 250px;
  width: 80%;
  max-width: 1000px;
  object-fit: cover;
}








.post .post-footer {
  padding: 0 0 30px 0;
  border-bottom: 1px solid var(--border-color);
}

.post .post-footer .meta {
  max-width: 100%;
  height: auto;
  color: var(--small-text-color);
}

.post .post-footer .meta .info {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.post .post-footer .meta .info .date {
  margin-right: 10px;
}

.post .post-footer .meta .info svg {
  width: 15px;
  height: 15px;
  fill: var(--small-text-color);
  display: inline-block;
  margin-right: 5px;
}

.post .post-footer .meta a {
  text-decoration: none;
  color: var(--small-text-color);
  padding-right: 10px;
}

.post .post-footer .meta a:hover {
  color: #4786D6;
}

.post .post-footer .tags {
  padding-bottom: 15px;
  font-size: 13px;
}

.post .post-footer .tags ul {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.post .post-footer .tags ul li {
  list-style-type: none;
  margin: 0;
  padding-right: 5px;
  display: inline;
}

.post .post-footer .tags a {
  text-decoration: none;
  color: var(--small-text-color);
  font-weight: 400;
}

.post .post-footer .tags a:hover {
  text-decoration: none;
}







#twitter_share {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
  margin: 25px 0 0 0;
  color: var(--regular-text-color)!important;
}

#twitter_share a {
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  color: white !important;
  background: #00acee;
  padding: 10px;
  margin-left:15px;
  transition: 0.15s background;
}

#twitter_share a:hover {
  background: hsl(197, 100%, 40%);
}

#twitter_share a:active {
  background: hsl(197, 100%, 25%);
}

#twitter_share a img {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}






.pagination {
  display: block;
  box-sizing: border-box;
  margin: 30px;
  max-width: 1250px;
  padding: 0px 0 56px 0;
}

.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 13px;
}

.pagination ul li {
  margin: 0 2px 0 2px;
  display: inline;
  line-height: 1;
}

.pagination ul li a {
  text-decoration: none;
}

.pagination .pre {
  float: left;
}

.pagination .next {
  float: right;
}













/*for archive*/
.archive {
  width: 100%;
}

.list-with-title {
  font-size: 16px;
  margin: 30px;
  padding: 0;
}

.list-with-title li {
  list-style-type: none;
  padding: 0;
}

.list-with-title .listing-title {
  font-size: 24px;
  color: var(--big-text-color);
  font-weight: 600;
  line-height: 2.2em;
}

.list-with-title .listing {
  padding: 0;
}

.list-with-title .listing .listing-post {
  padding-bottom: 5px;
}

.list-with-title .listing .listing-post .post-time {
  float: right;
  color: var(--small-text-color);
}

.list-with-title .listing .listing-post a {
  color: var(--regular-text-color);
}

.list-with-title .listing .listing-post a:hover {
  color: #4786D6;
}

/*
  ***** Bouton de pagination
*/

.btn {
  display: inline-block;
  position: relative;
  outline: 0;
  background: transparent;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--regular-text-color);
  border: 1px solid var(--regular-text-color);
  white-space: nowrap;
  font-weight: 400;
  font-style: normal;
  border-radius: 999em;
  transition: border 0.15 ease !important;
}

.btn:hover {
  color: var(--big-text-color);
  border: 1px solid var(--big-text-color);
}

[role="back"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="home"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="navigation"] {
  padding: 0.5em 1.25em;
  line-height: 1.666em;
}

[role="tags"] {
  padding: 6px 12px;
}


@media screen and (max-width: 960px) {

  body {
    flex-direction: column;
  }

  aside footer {
    display: none;
  }

  aside header {
    position: absolute;
    top: 55px;
    right: 15px;
    z-index: 500px;
  }

  aside {
    width: 100%;
    max-width: 100%;
    padding-top: 55px;
  }

  aside .logo-title {
    margin-top: 25px;
  }

  main {
    max-width: 100%;
  }

  #twitter_share {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #twitter_share a {
    margin: 0;
    margin-top: 15px;
    align-self: center;
  }

  main .content {
    margin: 0;
    overflow: unset;
  }

  main nav {
    padding: 0;
  }

  main nav a {
    margin: 0;
    flex: 1;
  }

}