extends partial/layout

block site_title
    - var PageName = "Archive · " + config.title
    title !{PageName}
    meta(property="og:title", content=PageName)
    
block description
    meta(name="description", content='Les archives du blog.')

block content
    .content
      .archive.animated
        ul.list-with-title
          h1 Archive
          include mixins
          +postList()
          +make_pager(__('prev'), __('next'))
