extends partial/layout

block site_title
    - var PageName = page.category + " · " + config.title
    title !{PageName}
    meta(property="og:title", content=PageName)

block description
    - var desc = 'Catégorie ：' + page.category + ' - ' + config.title;
    meta(name="description", content=desc)

block content
  .content
    .archive.animated
      ul.list-with-title
        include mixins
        +postList()
        +make_pager(__('prev'), __('next'))
