extends partial/layout

include mixins

block site_title
    - var PageName = config.title + " · Étudiant Informatique"
    title !{PageName}
    meta(property="og:title", content=PageName)
    meta(property="og:type", content="blog")

block description
    - var desc = config.description
    meta(name="description", content=desc)
    meta(property="og:description", content=desc)

block meta
    meta(property="og:url", content="https://nrocher.fr")
    meta(property="og:image", content="https://nrocher.fr/images/logo.jpg")
    
block content
  .content
    - page.posts.each(function (item) {
      include mixins
      +make_post(item, false, true)
    - })
    include mixins
    +make_pager(__('prev'), __('next'))
