mixin make_post(item, is_detail, is_article)
	.post
		.post-title
			if is_detail
				h1
					a= item.title
			else
				h3
					a(href= url_for(item.path))= item.title
		if is_detail
			.post-content!= item.content
		else
			.post-content
				- var summary = item.summary || item.content
				p!= truncate(strip_html(summary), {length: 160})
		.post-footer: .meta
			.info
				if is_article
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,19a1,1,0,1,0-1-1A1,1,0,0,0,12,19Zm5,0a1,1,0,1,0-1-1A1,1,0,0,0,17,19Zm0-4a1,1,0,1,0-1-1A1,1,0,0,0,17,15Zm-5,0a1,1,0,1,0-1-1A1,1,0,0,0,12,15ZM19,3H18V2a1,1,0,0,0-2,0V3H8V2A1,1,0,0,0,6,2V3H5A3,3,0,0,0,2,6V20a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V6A3,3,0,0,0,19,3Zm1,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V11H20ZM20,9H4V6A1,1,0,0,1,5,5H6V6A1,1,0,0,0,8,6V5h8V6a1,1,0,0,0,2,0V5h1a1,1,0,0,1,1,1ZM7,15a1,1,0,1,0-1-1A1,1,0,0,0,7,15Zm0,4a1,1,0,1,0-1-1A1,1,0,0,0,7,19Z"/></svg>
					span.date= date(item.date, 'DD-MM-YYYY')
				if theme.duoshuo || theme.disqus
					i.fa.fa-comment-o
					a(href= url_for(item.path + "#comments"))= __('Comments')
				if item.tags
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.71,11.29l-5-5A1,1,0,0,0,16,6H5A3,3,0,0,0,2,9v6a3,3,0,0,0,3,3H16a1,1,0,0,0,.71-.29l5-5A1,1,0,0,0,21.71,11.29ZM15.59,16H5a1,1,0,0,1-1-1V9A1,1,0,0,1,5,8H15.59l4,4Z"/></svg>
					- item.categories.sort('posts').each(function(item) {
							a.tag(href=config.root + item.path, title= item.name)= item.name + " "
					- });
					- item.tags.sort('posts').each(function(item) {
							a.tag(href=config.root + item.path, title= item.name)= item.name + " "
					- });
			if is_detail && is_article
				#twitter_share
					.
						Vous avez aimé cet article ?
					- var twitter_link = "http://twitter.com/share?text=" + item.title + "&url=" + full_url_for(item.path)
					a(href= twitter_link )
						img(src="/images/twitter.svg")
						.
							Partagez le sur twitter

mixin make_pager()
	- var prev = page.prev_link
	- var next = page.next_link
	if page.prev || page.next
		.pagination
			ul.clearfix
				if page.prev
					li.pre.pagbuttons
						a.btn(role="navigation",href=url_for(prev))= __('prev')
				if page.next
					li.next.pagbuttons
						a.btn(role="navigation",href=url_for(next))= __('next')

mixin postList()
	.archive
		- var year = 0;
		- var change = false;
		- var firstYear = true;
		- page.posts.each(function (item) {
			- var itemYear = date(item.date, 'YYYY') - 0;
			- change = year !== itemYear;
			- year = change ? itemYear : year;
			if change
				if firstYear
					| <div class="listing-title">
					!= year
					| </div><ul class="listing">
					- firstYear = false;
				else
					| </ul><div class="listing-title">
					!= year
					| </div><ul class="listing">
			
			.listing-item
				.listing-post
					a(href= url_for(item.path), title= item.title)= item.title
					div.post-time
						span.date= date(item.date, 'DD-MM')
		- })
