extends partial/layout

block description
    - var desc = page.summary || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);
    meta(name="description", content=desc)
    meta(property="og:description", content=desc)

block content
  .content: .post-page
    if page.banner
        img.page-banner.animated(src=url_for(page.banner), alt="Banner")
    include mixins
    +make_post(page, true)