extends partial/layout

block meta
  meta(property="og:type", content="article")
  meta(property="article:published_time", content=date(page.date))
  meta(property="article:modified_time", content=date(page.date))
  meta(property="article:author", content=config.author)
  - var tags = page.tags.data.map(x => x.name).join(", ")
  meta(property="og:article:tag", content=tags)

block description
    - var desc = page.summary || strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150);
    meta(name="description", content=desc)
    meta(property="og:description", content=desc)

block content
  .content
    if page.banner
      img.page-banner.animated(src=url_for(page.banner), alt="Banner")
    include mixins
    +make_post(page, true, true)
    - var prev = page.prev ? page.prev.path : false;
    - var next = page.next ? page.next.path : false;
    .pagination
      ul.clearfix
        if prev
          li.pre.pagbuttons
            a.btn(role="navigation",href=url_for(prev), title=page.prev.title)!= __('prev_post')
        if next
          li.next.pagbuttons
            a.btn(role="navigation",href=url_for(next), title=page.next.title)!= __('next_post')