extends partial/layout

block site_title
    - var PageName = page.tag + " · " + config.title
    title !{PageName}
    meta(property="og:title", content=PageName)

block description
  - var desc = 'Tags : ' + page.tag + ' - ' + config.title;
  meta(name="description", content=desc)

block content
  .content
    .archive.animated
      ul.list-with-title
        h1 Tag : !{page.tag}
        include mixins
        +postList()
        +make_pager(__('prev'), __('next'))
